*{
    box-sizing: border-box;
}

.home-page,
.content-T2{
    width: 100vw;
    height: 100vh;
   
    background-color:#FB6B6B;
}

.home-page, 
.home-page article,
.content-T2 footer,
.container-questions,
.result-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-home{
    width: 136px;
    height: 161px;
}

.home-page h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}
.content-T2 header h1{
    height: 35px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
   
    text-align: center;
    vertical-align: middle;

    color: #FFFFFF;
}

.home-page button{
    width: 246px;
    height: 54px;

    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 30px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #D70900;
}

.result-screen span, .content-T2 header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-T2 header{
    width: 100%;
    height: 75px;

    background-color: #FB6B6B;

    position:fixed;
    top:0;
    z-index: 2;
}

.content-T2 header h1{
    width: 102px;
    height: 25px;

    font-size: 22px;
    line-height: 25px;
}

.logo-top{
    width: 45px;
    height: 50px;
}

.content-T2 footer{
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    gap: 5px;

    z-index: 2;
}

.content-T2 footer p, .result-screen h2{
    width: 100%;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;

    color: #333333;
}

.result-screen span{
    margin: 5px 0 10px 0;
    gap: 10px;
}
.result-screen{
    margin-bottom: 14px;
}

h2, .result-screen h3{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;

    color: #333333;
}


ion-icon{
    width: 16px;
    height: 16px;
}

ion-icon[name="play-outline"]{
    color:#333333;
}

.deck-flashcards {
    width: 90%;
    min-width: 300px;
    height: 50px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 12px;
    margin-top: 5px;
}
.container-questions{
    width: 100%;

    padding: 85px 0;
    background-color:#FB6B6B;
}

.card{
    width: 90%;
    height: 131px;

    background-color: #ffffd5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    padding: 13px 7px 7px 7px;
    margin: 14px 14px;
}
.arrow-flip-card{
    width: 100%;
    height: 20px;

    display: flex;
    justify-content: right;
    align-items: flex-end ;
}

.open-question, 
.open-answer {
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text{
    width: 100%;
    height: auto;
}

.open-question h3,
.open-answer h3{
    width: 100%;

    font-size: 14px;
    line-height: 18px;

    color: #333333;
    text-align: left;
}
.open-question h3,
.open-answer h3,
.open-answer button{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
}

.open-answer button{
    width: 100px;
    height: 30px;

    border-radius: 5px;
    border: none;

    font-size: 10px;
    line-height: 12px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
}

.buttons{
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.flip-card{
    width: 20px;
    height: 13px;
}

.red{
    background-color: #FF3030; 
}
.yellow{
    background-color:#FF922E;
}
.green{
    background-color: #2FBE34;
}
.hidden{
     display: none;
}

.close-circle, .help-circle, .checkmark-circle{
    text-decoration: line-through;
}
ion-icon[name="close-circle"], .close-circle{
    color:#FF3030;
}
ion-icon[name="help-circle"], .help-circle{
    color:#FF922E;
}
ion-icon[name="checkmark-circle"], .checkmark-circle{
    color:#2FBE34;
}

.icons-footer{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

article .restart-button{
    width: 167px;
    height: 32px;

    background-color: #FB6B6B;
    border-radius: 5px;
    border: none;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
}